<header class="header">
  <div class="header__container">
    <h1 class="header__title">Cockta</h1>
    <img
      class="header__logo"
      src="./assets/images/logo2.png"
      alt="Cocktails Logo"
      title="Cocktails Logo"
    />
    <h1 class="header__title">ls</h1>
  </div>
  <form class="header__form" action="#">
    <!-- es correto poner un input sin un label? -->
    <input
      class="js-input header__input"
      type="text"
      placeholder="Busca un cóctel"
    />
    <input class="js-searchBtn header__btn" type="button" value="Buscar" />
  </form>
</header>
