<main class="main">
  <section class="main__section2">
    <article class="main__list">
      <h2 class="main__list--title">RESULTADOS</h2>
      <ul class="js-cocktails main__list--message"></ul>
    </article>
    <article class="main__list">
      <div class="main__list--container">
        <h2 class="main__list--title main__list--title2">RECETA</h2>
        <!-- es correcto poner un input button sin un form? -->
        <input class="js-resetBtn main__list--btn" type="reset" value="Reset" />
      </div>
      <ul class="js-favourites"></ul>
    </article>
  </section>
</main>
